@use '../../../sass/' as *;

.editorSidebarWrap {
    background-color: $surface;
    width: 200px;
    min-width: 200px;

    display: flex;
    flex-direction: column;
    
    border-radius: $borderRadiusL;

    ::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    ::-webkit-scrollbar-track {
        border-radius: 20px;
        background-color: $accentDarker;
    }
    ::-webkit-scrollbar-track:hover {
        background-color: $accentDarker;
    }
    ::-webkit-scrollbar-track:active {
        background-color: $accentDarker;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: $accent;
        cursor: s-resize;
    }
    ::-webkit-scrollbar-thumb:hover {
        background-color: $accentHover;
    }
    ::-webkit-scrollbar-thumb:active {
        background-color: $accentHover;
    }
      
}