#htmlElement[data-theme="dark"] {
    --background: rgb(20, 20, 20);
    --text: white;

    --accent: #FFAC00;
    --accentLighter: #ffd581;
    --accentDarker: #d89000;
    --textOnAccent: #2C2C2C;
}
#htmlElement[data-theme="light"] {
    --background: white;
    --text: rgb(20, 20, 20);
}

$background: var(--background);
$text: var(--text);

$accent: var(--accent);
$accentLighter: var(--accentLighter);
$accentDarker: var(--accentDarker);

$textOnAccent: var(--textOnAccent);

$headerHeight: 25px;
$footerHeight: 25px;
$mainHeight: calc(100vh - $headerHeight - $footerHeight);

$sectionSpacing: 16px;
$inSectionPadding: 16px;


