@use '../../../sass/' as *;

.zoomAndSizeWrap {
    display: flex;
    align-items: center;

    font-size: 14px;
    gap: 8px;

    background-color: $surface;
    color: $onSurface;

    border-radius: 100px;
    padding: 5px 15px;

    div:first-child, div:last-child {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .sizeSetting {
        svg {
            fill: $onSurfaceDark;
            width: 16px;
            height: 16px;
        }
    }

    .zoomSetting {
        color: $onSurfaceDark;
        svg {
            fill: $onSurface;
        }
    }

    
}

.zoomAndSizeDivider {
    width: 1px;
    height: 60%;
    background-color: $onSurfaceDisabled;
}