@use '../../../sass/' as *;

.zoomAndSizeWrap {
    display: flex;
    align-items: center;

    font-size: 14px;
    gap: 8px;

    background-color: $surface;
    color: $onSurface;

    border-radius: 100px;
    padding: 5px 15px;

    input {
        background-color: unset;
        border: unset;
        color: $onSurface;
        width: 50px;

        &:first-child {
            text-align: right;
        }

        &:last-child {
            text-align: left;
        }

        // Removing the increase/decrease value arrows
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
            -webkit-appearance: none; 
            margin: 0; 
        }
        // doing the same for Firefox
        -moz-appearance: textfield;
        appearance: textfield;
    }

    .sizeSettingForm {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        svg {
            fill: $onSurfaceDark;
            width: 16px;
            height: 16px;
        }
    }
}