@use '../../sass/' as *;

.buttonAccent {
    background-color: $accent;
    border: none;
    color: $textOnAccent;
    font-size: 16px;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    
    padding: 10px;
    border-radius: 5px;

    svg {
        fill: $textOnAccent;
    }
}

.buttonCanvasControl {
    font-size: 14px;
    padding: 5px 15px;
}

.rounded {
    border-radius: 100px;
}

.fullWidth {
    width: 100%;
}